<div class="nav" id="homenav">
  <a href="index" class="active">Home</a>
  <a href="/customers">Customers</a>
  <a href="employees">Employees</a>
  <a href="sales">Sales</a>
  <a href="products">Products</a>
  <a href="manager">Manager</a>
  <a href="changes">Change Log</a>
  <a href="javascript:void(0);" class="icon" onclick="navClick()">
    <i class="fa fa-bars"></i>
  </a>
</div>