
<div class="homeContent">
  <div class="left">
    <img src="img/clown.jpg" alt="Happy Clown Fish" />
  </div>
    <div class="right">
    <h2>Tropical Fish Emporium</h2>
    <p>This is the example database homepage for the Determined Databasers - CS340, Section 401.</p>
    <ul>
      <li>The UPDATE is found under the Employees tab</li>
      <li>All INSERTs occurr within the Manager tab</li>
      <li>Deletion of a customer is nullable</li>
    </ul>
    <p>Please see the <a href="changes">Change Log</a> to look at what has changed between various steps and revisions of this project.</p>
  </div>
</div>

<div class="res">
  <p>Here is our project description for reference:</p>
  <iframe id="resFrame" src="Project Step 7.pdf"></iframe>
</div>

    </form>
    </div>
<footer>© Tropical Fish Emporium</footer>


