
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/css/proj3.css" rel = "stylesheet" type="text/css">

  <body>

    <div style="padding-left:16px">
      <h2>Tropical Fish Emporium</h2>
        <p>Search for and delete products from the database.</p>

    <form method = "post">
      <fieldset>
        <legend>Search for a Product:</legend>
          <label>productId:
            <input type ="search" name ="productId">
          </label><br><br>  
          <label>Product Name:
            <input type ="search" name ="name">
          </label><br><br>
  			  <label>Price
            <input type ="search" name ="price">
          </label><br><br>

          <button onclick="showResults();return false;">Submit</button>
          <span class="instr"><--Click me to see some sample data.</span>

      </fieldset>
      <button onclick="return false;"">See All</button>  <--See all entries in the Products table
      <div id="prodResults">
        
      </div>

    </form>
    </div>
    <footer>© Tropical Fish Emporium</footer>
  </body>
